
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.col {
  min-width: 300px;
  flex: 1;
  min-height: 200px;
  margin: 5px;
  border-radius: 4px;
  background-color:#F2F3F5;
  display: flex;
  flex-direction: column;
}
.coltitle {
  padding: 10px;
  font-weight: 700;
  color: #758197;
  font-size: 14px;
  margin-bottom: 10px;
}
.coltitle span {
  font-weight: 400;
}

.droppable {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 200px;
}
.card {
  min-height: 100px;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 5px;
}

.cardtitle {
  color: #53617D;
}
.button {
  display: flex;
  margin-left: auto;
}

.inputcontainer {
  display: flex;
  align-items: center;
  margin: 5px;
}

.cardActionsBtns {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}