
.header {
  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.headline {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.main {
  padding: 50px 0;

}

.footer {

}