:root {
	--main-color: #ff6b00;
	--main-font: 'Nunito';
	--light-bg: #f7f7f7;
	--light-color: #343434;
	--dark-bg: #1f1f1f;
	--dark-color: #d6d6d6;
	--mode-bg: var(--light-bg);
	--mode-color: var(--light-color);
	/*  */
	--body-font-size: 1.8rem;
	/*  */
	--btn-min-width: 45px;
	--btn-min-height: 35px;
	--btn-checkbox-radio: 18px;
	--btn-border-radius: 0.375rem;
	/*  */
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0 solid #e2e8f0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	background-repeat: no-repeat;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
	background-color: #fff;
	width: 12px;
}
::-webkit-scrollbar-track {
	background-color: #fff;
}
::-webkit-scrollbar-track:hover {
	background-color: #f4f4f4;
}
::-webkit-scrollbar-thumb {
	background-color: #babac0;
	border-radius: 16px;
	border: 1px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #a0a0a5;
	border: 1px solid #f4f4f4;
}
::-webkit-scrollbar-button {
	display: none;
}

::-moz-selection {
	color: #fff;
	background: #02124e;
}

::selection {
	color: #fff;
	background: #02124e;
}

::-webkit-input-placeholder {
	color: #a5a5a5;
	font-weight: 400 !important;
}

:-ms-input-placeholder {
	color: #a5a5a5;
	font-weight: 400 !important;
}

::-ms-input-placeholder {
	color: #a5a5a5;
	font-weight: 400 !important;
}

::placeholder {
	color: #a5a5a5;
	font-weight: 400 !important;
}

html {
	scroll-behavior: smooth;
}

body {
	cursor: default;
	margin: 0 !important;
	padding: 0 !important;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 100vh;
	color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	font-size: var(--body-font-size);
	line-height: 1.7;
	font-weight: 400;
	overflow-y: scroll;
}

html,
body {
	color: var(--mode-color);
	font-family: var(--main-font);
	background-repeat: repeat;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='224' height='224' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23eefbf8' stroke-width='2.9'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23f1fdfb'%3E%3Ccircle cx='769' cy='229' r='17'/%3E%3Ccircle cx='539' cy='269' r='17'/%3E%3Ccircle cx='603' cy='493' r='17'/%3E%3Ccircle cx='731' cy='737' r='17'/%3E%3Ccircle cx='520' cy='660' r='17'/%3E%3Ccircle cx='309' cy='538' r='17'/%3E%3Ccircle cx='295' cy='764' r='17'/%3E%3Ccircle cx='40' cy='599' r='17'/%3E%3Ccircle cx='102' cy='382' r='17'/%3E%3Ccircle cx='127' cy='80' r='17'/%3E%3Ccircle cx='370' cy='105' r='17'/%3E%3Ccircle cx='578' cy='42' r='17'/%3E%3Ccircle cx='237' cy='261' r='17'/%3E%3Ccircle cx='390' cy='382' r='17'/%3E%3C/g%3E%3C/svg%3E") !important;
}

body.modal-open {
	/* when modal opens body:scroll disappear tat leads to width of scroll=0 so body width expand */
	overflow: visible;
}

ul li {
	list-style: none;
}

a {
	cursor: pointer;
	text-decoration: none !important;
	color: #a5a5a5;
	display: inline-flex;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

a:hover {
	color: #232a4c;
}

a > * {
	/* for icons inside links when dealing with Event in JS */
	pointer-events: none;
}

picture,
img {
	display: block;
	max-width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
	display: block;
	vertical-align: middle;
}

a,
button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

[hidden] {
	display: none;
}
[disabled],
.disabled {
	cursor: not-allowed !important;
	color: #9c9c9c;
	opacity: 0.5;
}

h1 {
	font-size: 15rem;
	font-size: clamp(9rem, 15vw, 15rem);
	font-weight: 200;
}

h2 {
	font-size: 7rem;
	font-size: clamp(7rem, 10vw, 13rem);
	font-weight: 200;
}

h3 {
	font-size: 5rem;
}

h4 {
	font-size: 4rem;
}

h5 {
	font-size: 3rem;
}

h6 {
	font-size: 2rem;
}

p {
	font-size: 1.8rem;
}

option {
	font-size: 1.6rem;
	padding: 0.5rem;
}

mark {
	background-color: yellow;
	color: black;
}

blockquote {
	position: relative;
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 0;
	padding: 0.5em 10px;
	font-style: italic;
}

blockquote::before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote::after {
	color: #ccc;
	content: close-quote;
	font-size: 4em;
	line-height: 0.1em;
	vertical-align: -0.4em;
}
